:root {
    --pageWidth: 80%;
    --navHeight: 50px;
    --navColour: black;
    --pageDividerColour: #561421;
    /* --primaryBackgroundColour: #CAE7EA; */
    --primaryBackgroundColour: #F6F6F6;
    --secondaryBackgroundColour: white;
    --basicPackageColour: white;
    --premiumPackageColour: #F6F6F6;
    --proPackageColour: rgb(219, 219, 219);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

* {
    font-family: proximanovaregular;
}

/* ------------------------------------------------------ Eriks lekkere fonts ------------------------------------------------------ */

@font-face {
    font-family: proximanovalight;
    src: url("fonts/Proxima Nova Alt Light.otf");
}

@font-face {
    font-family: proximanovaregular;
    src: url("fonts/ProximaNova-Regular.otf");
}

@font-face {
    font-family: proximanovabold;
    src: url("fonts/Proxima Nova Bold.otf");
}

@font-face {
    font-family: proximanovaextrabold;
    src: url("fonts/Proxima Nova Extrabold.otf")
}

@font-face {
    font-family: SailecBlack;
    src: url("fonts/SailecBlack.ttf")
}

@font-face {
    font-family: SailecBold;
    src: url("fonts/SailecBold.ttf")
}

@font-face {
    font-family: SailecMedium;
    src: url("fonts/SailecMedium.ttf")
}

@font-face {
    font-family: SailecRegular;
    src: url("fonts/SailecRegular.ttf")
}

@font-face {
    font-family: OpenSansBold;
    src: url("fonts/OpenSans-Bold.ttf")
}

@font-face {
    font-family: OpenSansItalic;
    src: url("fonts/OpenSans-Italic.ttf")
}

@font-face {
    font-family: OpenSansLight;
    src: url("fonts/OpenSans-Light.ttf")
}

@font-face {
    font-family: OpenSansRegular;
    src: url("fonts/OpenSans-Regular.ttf")
}

/* ------------------------------------------------------ Page dividers. ------------------------------------------------------ */

.pageDivider {
    background-color: var(--pageDividerColour);
    height: 0;
    margin: 0;
}

/* ------------------------------------------------------ Navigation CSS. ------------------------------------------------------ */

nav {
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: var(--navHeight);
    z-index: 4;
    top: 0;
    box-shadow: 0px 2px 20px 2px black;
}

#navBar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: var(--pageWidth);
}

#navBar a {
    font-family: proximanovalight;
    color: black;
    text-decoration: none;
    /* transition-duration: 0.1s; */
}

#navBar a:hover {
    /* text-decoration: underline; */
    font-family: proximanovaextrabold;
    border-bottom: 3px solid #D1D2D4;
}

#navSpace {
    height: var(--navHeight);
}

#logoInNav {
    /* height: var(--navHeight); Turn either on to place back inside nav. Also change image dimensions in html. */
    height: 90%;
    /* width: 10%;
    top: var(--navHeight);
    position: relative; */
}

/* ------------------------------------------------------ Pages and sections. ------------------------------------------------------ */

.page {
    background-color: var(--secondaryBackgroundColour);
    height: 100vh;
    overflow: hidden;
}

.primaryPage {
    background-color: var(--primaryBackgroundColour);
}

.smallPage {
    height: initial;
}

.pageSection {
    width: var(--pageWidth);
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    /* Padding pushes page down, this makes height exact height. */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* ------------------------------------------------------ Statement. ------------------------------------------------------ */

h2 {
    font-family: OpenSansLight;
    color: black;
    margin-top: 0;
}

#statementText {
    text-align: center;
    position: relative;
}

/* ------------------------------------------------------ Products section. ------------------------------------------------------ */

/* Declaration colours. */

.greenColours {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
    --cardColour: white;
}

.purpleColours {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
    --cardColour: white;
}

.blueColours {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
    --cardColour: white;
}

#productsPage {
    height: 60vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#productsSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 83%;
    margin: 0;
}

#productsSection .productPackage {
    width: 33.3%;
    padding-top: 5%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-out;
}

#productsSection .productPackage:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
    z-index: 2;
}

/* *Card content. */

.overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: var(--cardColour);
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
}

.circle svg {
    z-index: 3;
    transform: translateZ(0);
    position: absolute;
    width: 50%;
    fill: white;
}

#productsSection .productPackage:hover .overlay {
    transform: scale(10) translateZ(0);
}

#productsSection .productPackage:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

#productsSection .productPackage:hover .circle:after {
    background: var(--bg-color-light);
}

#productsSection .productPackage:hover .circle svg {
    fill: var(--bg-color);
}

#productsSection .productPackage:hover .contentPackage {
    color: var(--text-color-hover);
}

.contentPackage {
    z-index: 2;
    text-align: center;
    margin-bottom: 5%;
}

.contentPackage ul {
    list-style-type: none;
    padding: 0;
}

#basicPackage {
    background-color: var(--basicPackageColour);
}

#premiumPackage {
    background-color: var(--premiumPackageColour);
}

#proPackage {
    background-color: var(--basicPackageColour);
}

/* ------------------------------------------------------ Slogan. ------------------------------------------------------ */

#sloganPage {
    overflow: hidden;
    height: 20vh;
    position: relative;
}

#sloganPage .pageSection h2 {
    text-align: center;
}

#sloganPage::after {
    content: " ";
    height: 40%;
    width: 200vw;
    position: absolute;
    background-color: var(--premiumPackageColour);
    bottom: 0;
    left: 0;
    transform: rotate(2deg) translateY(100%) translateX(-300px);
    z-index: 1;
}

/* ------------------------------------------------------ Work. ------------------------------------------------------ */

#workPage {
    background-color: var(--premiumPackageColour);
    height: 50vh;
}

#workSection h2 {
    text-align: center;
    font-family: OpenSansBold;
}

#workImagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

#workSection img {
    filter: grayscale(99%);
    /* filter: brightness(0) invert(1);  */
    width: 15%;
    height: auto;
}

#workSection img:hover {
    filter: none;
    transition: 0.3s;
}

/* ------------------------------------------------------ Team information. ------------------------------------------------------ */

#teamSection {
  
    position: relative;
}

#teamSection::before {
    content: " ";
    height: 10%;
    width: 200vw;
    position: absolute;
    background-color: var(--premiumPackageColour);
    top: 0;
    left: 0;
    transform: rotate(2deg) translateY(-10%) translateX(-300px);
    z-index: 1;
}

#teamSection h2 {
    font-family:OpenSansBold;
    text-align: center;
    margin-top: 10%;
}

#teamMemberContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

.memberCard {
    width: 33%;
    height: 70%;
    /* flex-grow: 1; */
    text-align: center;
    /* background: linear-gradient(180deg, rgba(202, 231, 234, 1) 0%, rgba(202, 231, 234, 1) 53%, rgba(255, 255, 255, 1) 100%); */
    background: linear-gradient(180deg, #F6F6F6  0%, rgb(248, 248, 248) 53%, white 100%);
}

.memberCard h3 {
    font-family: SailecRegular;
    font-size: 30px;
}

.memberCard hr {
    width: 80%;
}

/* ------------------------------------------------------ Contact submissions. ------------------------------------------------------ */

.form {
    height: 80%;

}

#contactSection {
    text-align: center;
}

#contactSection h2 {
    font-family: OpenSansBold;
}

textarea {
    resize: none;
    height: 30%;
}

#topContactInputs, #bottomContactInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
}

#topContactInputs input, textarea, #sendMsgBtn {
    font-size: 18px;
    width: 30%;
    min-height: 40px;
    border-radius: 5px;
    border-width: 2px;
    padding: 13px;
    box-sizing: border-box;
}

#sendMsgBtn {
    background-color: black;
    color: white;
    transition-duration: 0.3s;
    overflow: hidden;
}

#sendMsgBtn:hover {
    background-color: transparent;
    color: black;
}

#sendMsgBtn:hover #envelopeIcon {
    fill: black;
}

#envelopeIcon {
    transform: translate(0px, 3px);
    width: 20px;
    height: 20px;
    fill: white;
}


/* ------------------------------------------------------ Footer ------------------------------------------------------ */


#footer {
    background-color: white;
    box-shadow: 0px 2px 20px 2px black;
    font-family: proximanovalight;
}


#footer .pageSection {
    display: flex;
    justify-content: space-between;
}

#footer .pageSection * {
    color: black;
}

.administratie {
    text-align: center;
}

.administratie {
    text-align: center;
}

.copyright {
    text-align: center;
}

.socialMediaIcons {
    text-align: center;
}