:root {
    --pageWidth: 80%;
    --navHeight: 50px;
    --pageDividerColour: #561421;
    --primaryBackgroundColour: #CE2128;
    --secondaryBackgroundColour: white;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

* {
    font-family: proximanovaregular;
}

/* ------------------------------------------------------ Eriks lekkere fonts ------------------------------------------------------ */

@font-face {
    font-family: proximanovalight;
    src: url("fonts/Proxima Nova Alt Light.otf");
}

@font-face {
    font-family: proximanovaregular;
    src: url("fonts/ProximaNova-Regular.otf");
}

@font-face {
    font-family: proximanovabold;
    src: url("fonts/Proxima Nova Bold.otf");
}

@font-face {
    font-family: proximanovaextrabold;
    src: url("fonts/Proxima Nova Extrabold.otf")
}

@font-face {
    font-family: SailecBlack;
    src: url("fonts/SailecBlack.ttf")
}

@font-face {
    font-family: SailecBold;
    src: url("fonts/SailecBold.ttf")
}

@font-face {
    font-family: SailecMedium;
    src: url("fonts/SailecMedium.ttf")
}

@font-face {
    font-family: SailecRegular;
    src: url("fonts/SailecRegular.ttf")
}

/* ------------------------------------------------------ Page dividers. ------------------------------------------------------ */

.pageDivider {
    background-color: var(--pageDividerColour);
    height: 2vh;
    margin: 0;
}

/* ------------------------------------------------------ Navigation CSS. ------------------------------------------------------ */

nav {
    position: fixed;
    background-color: #005a87;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: var(--navHeight);
    z-index: 2;
    top: 0;
}

#navBar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: var(--pageWidth);
}

#navBar a {
    font-family: proximanovalight;
    color: white;
    text-decoration: none;
}

#navSpace {
    height: var(--navHeight);
}

#logoInNav {
    /* height: var(--navHeight); */
    height: 100%;
}

/* ------------------------------------------------------ Pages and sections. ------------------------------------------------------ */

.page {
    background-color: var(--secondaryBackgroundColour);
}

.page:nth-child(4n + 1) {
    background-color: var(--primaryBackgroundColour);
}

.pageSection {
    width: var(--pageWidth);
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh;
}

/* ------------------------------------------------------ Statement. ------------------------------------------------------ */

h2 {
    font-family: SailecRegular;
    color: white;
}

#statementText {
    text-align: center;
}

/* ------------------------------------------------------ Products section. ------------------------------------------------------ */

#productsSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#productsSection .productPackage {
    width: 33.3%;
    background-color: beige;
}

/* ------------------------------------------------------ Slogan text. ------------------------------------------------------ */

#sloganText {
    text-align: center;
}

/* ------------------------------------------------------ Work. ------------------------------------------------------ */

#workImagesContainer {
    display: flex;
    flex-wrap: wrap;
}

#workSection img {
    filter: grayscale(85%);
    width: 20%;
    height: auto;
}

/* ------------------------------------------------------ Contact submissions. ------------------------------------------------------ */

/* ------------------------------------------------------ Team information. ------------------------------------------------------ */